{% extends 'base_app.html' %}

{% block content %}
<div class="content-container">
  <h1>RAM Model Compiler</h1>
  <h2>Step1. Load an Existing Model or Create New</h2>
  <div class="accordion" id="accordionloadcreatemodel">
    <div class="accordion-item">
      <h2 class="accordion-header" id="lcmforms">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#lcmformone" aria-expanded="true" aria-controls="lcmformone">
          <b>Currently Loaded Model: </b>
          <div>--id - </div>
          <div id="loaded-model-id">Nil</div>
          <div>--title - </div>
          <div id="loaded-model-title">N/A</div>
        </button>
      </h2>
      <div id="lcmformone" class="accordion-collapse collapse show" aria-labelledby="lcmforms" data-bs-parent="#accordionloadcreatemodel">
        <div class="accordion-body">
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="loadcreatetoggle" id="lct1" value="1" checked>
              <label class="form-check-label" for="lct1">Create New Model</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="loadcreatetoggle" id="lct2" value="2">
              <label class="form-check-label" for="lct2">Load Existing Model</label>
            </div>
          </div>
          <form id="formcreatemodel">
            <div class="mb-3">
              <label for="newrammodeltitle" class="form-label">Model Title</label>
              <input type="text" class="form-control" id="newrammodeltitle" name="newrammodeltitle">
            </div>
            <div class="mb-3">
              <label for="newrammodeldesc" class="form-label">Model Description</label>
              <textarea class="form-control" id="newrammodeldesc" name="newrammodeldesc" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Model</button>
          </form>
          <form id="formloadmodel" hidden>
            <div class="mb-3">
              <label for="rammodelselect" class="form-label">Lookup Model</label>
              <select class="form-select" aria-label="Default select example" id="rammodelselect" name="rammodelselect">
                {% for model in models %}
                <option value="{{model.id}}">{{model.title}}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Load Model</button>
            <label for="load-progress-bar" hidden></label>
            <progress id="load-progress-bar" value="0" max="100" hidden></progress>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <h2>Step2. Build Out Ram model Specs</h2>
  <div class="accordion" id="accordionExample">
    {% for acc_item in ["Equipment Index", "Sub-System Index","System Compiler","Maintenance", "Spares"] %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{loop.index}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
          {{acc_item}}
        </button>
      </h2>
      <div id="collapse{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{loop.index}}" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          
          {% if loop.index == 1 %}

          <div class = "m-2 h-100">
            <h5 class="d-inline">Equipment Selection</h5>
            <div id="equipment_table"></div>
          </div>


          
          {% elif loop.index == 2 %}

          <div class = "m-2 h-100">
            <h5 class="d-inline">Sub-System Definition</h5>
            <div id="sub_system_table"></div>
          </div>

          {% elif loop.index == 3 %}

          <div class="m-2 h-100">
            <h5 class="d-inline">System Definition</h5>
            <div id="system_table"></div>
          </div>
          
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h2>Step3. Run Outputs</h2>
  <form id = "run-ram" method = "POST" action = "{{url_for('availability.ram_result')}}">
    <button id= "run_ram_model" type="submit" class="btn btn-primary">load RAM</button>
  </form>

  <form>
    <button id= "generate_rbd" type="submit" class="btn btn-primary">Draw RBD</button>
  </form>
  

</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('availability.static', filename='js/ram.js')}}"></script>
{% endblock %}