{% extends 'base_app.html' %}

{% block content %}
<div class="content-container">
  <h1>RAM Model Compiler</h1>
  <h2>Step1. Load an Existing Model or Create New</h2>
  <div class="accordion" id="accordionloadcreatemodel">
    <div class="accordion-item">
      <h2 class="accordion-header" id="lcmforms">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#lcmformone" aria-expanded="true" aria-controls="lcmformone">
          <b>Currently Loaded Model: </b>
          <div>--id - </div>
          <div id="loaded-model-id">Nil</div>
          <div>--title - </div>
          <div id="loaded-model-title">N/A</div>
        </button>
      </h2>
      <div id="lcmformone" class="accordion-collapse collapse show" aria-labelledby="lcmforms" data-bs-parent="#accordionloadcreatemodel">
        <div class="accordion-body">
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="loadcreatetoggle" id="lct1" value="1" checked>
              <label class="form-check-label" for="lct1">Create New Model</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="loadcreatetoggle" id="lct2" value="2">
              <label class="form-check-label" for="lct2">Load Existing Model</label>
            </div>
          </div>
          <form id="formcreatemodel">
            <div class="mb-3">
              <label for="newrammodeltitle" class="form-label">Model Title</label>
              <input type="text" class="form-control" id="newrammodeltitle" name="newrammodeltitle">
            </div>
            <div class="mb-3">
              <label for="newrammodeldesc" class="form-label">Model Description</label>
              <textarea class="form-control" id="newrammodeldesc" name="newrammodeldesc" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Model</button>
          </form>
          <form id="formloadmodel" action="{{url_for('availability.ram_model_manager')}}" method="POST" hidden>
            <div class="mb-3">
              <label for="rammodelselect" class="form-label">Lookup Model</label>
              <select class="form-select" aria-label="Default select example" id="rammodelselect" name="rammodelselect">
                {% for model in models %}
                <option value="{{model.id}}">{{model.title}}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Load Model</button>
            <label for="load-progress-bar" hidden></label>
            <progress id="load-progress-bar" value="0" max="100" hidden></progress>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('availability.static', filename='js/ram.js')}}"></script>
{% endblock %}