{% extends 'base_app.html' %}

{% block content %}
<div class="content-container">
  <h3 class="section-heading">Ram Model Specifications</h3>
  <div><b>Model ID: </b><span id="loaded-model-id">{{model_id}}</span></div>
  <div><b>Model Title: </b><span id="loaded-model-id">{{loaded_model_title}}</span></div>

  {% include 'components/mapped_accordion.html' %}
  
  <h3 class="section-heading">Outputs</h3>
  <div class="accordion" id="ramoutputaccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="ro_lab_1">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ro_one" aria-expanded="true" aria-controls="ro_one">Run Ram Model</button>
      </h2>
      <div id="ro_one" class="accordion-collapse collapse show" aria-labelledby="ro_lab_1" data-bs-parent="#ramoutputaccordion">
        <div class="accordion-body">
          <form class ="rounded border bg-light my-2" id = "run-ram" method = "POST" action = "{{url_for('availability.ram_result')}}">
            <div class="form-group">
              <label for="n_sims">Number of Simulations:</label>
              <input type="number" class="form-control" id="n_sims" name="n_sims" placeholder="10" min="1" max="1000" required>
            </div>
            <div class="form-group">
              <label for="dur">Duration of Simulations (in hrs):</label>
              <input type="number" class="form-control" id="dur" name="dur" placeholder="87600" min="1" max="438000" required>
            </div>
            <div>
              <button id= "run_ram_model" type="submit" class="btn btn-primary">Run RAM Model</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="ro_lab_2">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#ro_two" aria-expanded="true" aria-controls="ro_two">Generate Reliability - Block Diagram (RBD) </button>
      </h2>
      <div id="ro_two" class="accordion-collapse collapse show" aria-labelledby="ro_lab_2" data-bs-parent="#ramoutputaccordion">
        <div class="accordion-body">
          <form id="draw-rbd" class ="rounded border bg-light my-2" action="{{url_for('availability.ram_model_rbd')}}" method="POST">
            <button id= "generate_rbd" type="submit" class="btn btn-primary">Generate RBD</button>
          </form>
        </div>
      </div>
    </div>
  </div>  

</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('availability.static', filename='js/ram_model_manager.js')}}"></script>
{% endblock %}