/*-------------------Generic Styling----------*/

* {
  font-family: monospace, "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form {
  width: 60%;
  max-width: 600px;
  min-width: 400px;
  padding: 20px;
}

.card-body{
  cursor:pointer;
}
/*------------------- Home Page Styling ---------------------*/
#home-background {
  background-image: linear-gradient(
    rgba(0, 51, 102,0.8),rgba(0, 51, 102,0.8)),
    url("/static/img/reliability_background.jpg");
  height: 100vh;
}


#tile-container {
  overflow: auto;
}

.coverlarge {
  text-orientation: upright;
  writing-mode: vertical-lr;
}


/*------------------- Base App Styling ---------------------*/
#content {
  background: rgba(0, 51, 102,0.3);
  padding-left: 20px;
  flex: 1 1 auto;
  overflow:auto;
}

#base-app-body {
  height: 100vh;
}

.background-dark-p {
  background-color: rgba(0, 51, 102) !important;
}

#footer {
  flex: 0 0 50px;
  height: 50px;
  vertical-align: middle;
}

.dropdown-menu.show {
  background-color: rgb(123, 166, 209)
}

/*------------------- Generic Styling available for Base App content ---------------------*/
.content-container {
  width: 80%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: red;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: red;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: red;
 }

/*------------------- Download icon ---------------------*/

.fa {  
  padding: 10px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 20px;  
  width: 40px;
  border-radius: 50%;
  background: rgba(2, 45, 74, 0.7);  
  color: white;  
}

.fa-solid {
  color: rgba(0, 51, 102);  
}



#sampletablewrapper {
  overflow-y:auto;
}