/*-------------------Generic Styling----------*/

* {
  font-family: Georgia, monospace, "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.card-body{
  cursor:pointer;
}
/*------------------- Home Page Styling ---------------------*/
#home-background {
  background-image: linear-gradient(
    rgba(0, 51, 102,0.8),rgba(0, 51, 102,0.8)),
    url("/static/img/reliability_background.jpg");
  min-height: 100vh;
}


#tile-container {
  overflow: auto;
  margin-right:20px;
}

#tile-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#tile-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1.home:not(.home-upright) {
  margin-left: 35px;
}

.home-upright {
  text-orientation: upright;
  writing-mode: vertical-lr;
}

/*
.carousel-1 {
  background-image: linear-gradient(
    rgba(0, 51, 102,0.1),rgba(0, 51, 102,0.1)),
    url("https://images.unsplash.com/photo-1508873535684-277a3cbcc4e8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: grayscale(100%);
}

.carousel-2 {
  background-image: linear-gradient(
    rgba(0, 51, 102,0.8),rgba(0, 51, 102,0.8)),
    url("https://images.unsplash.com/photo-1503676260728-1c00da094a0b?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: grayscale(100%);
}
*/
.carousel-3 {
  /*background-image: linear-gradient(
    rgba(0, 51, 102,0.8),rgba(0, 51, 102,0.8)),
    url("https://images.unsplash.com/photo-1601807576163-587225545555?q=80&w=1073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")*/
    /*url("https://images.unsplash.com/photo-1532012197267-da84d127e765?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: grayscale(100%);*/
}

.carousel-item {
  min-height: 60vh;
  background-size: cover;
  background-position:center;
  padding-left:10%;
  padding-right:10%;
  padding-top:5%;
  box-shadow: 
    /*0 10px 20px rgba(0, 51, 102,0.5) inset, 
    0 0 40px rgba(0, 51, 102,0.5) inset, 
    0 0 60px rgba(0, 51, 102,0.5) inset, 
    0 0 80px rgba(0, 51, 102,0.5) inset;*/
}

.tiles {
  justify-content:space-evenly;
  padding-bottom:8rem;
}

.tile {
  width: 200px;
  text-align: center;
}

.tile-image {
  object-fit:cover;
  filter: grayscale(100%);
}

.example-tile {
  width: 140px;
  height: 140px;
  background: rgba(255,255,255,0.1);
  align-items: center;
  box-shadow: 0 0 20px 2px #48abe0;
}
/*
#carouselExampleCaptions {
  box-shadow: 0px 10px 10px white;
  margin: 20px;
}*/
/*------------------- Base App Styling ---------------------*/
#content {
  background: rgba(0, 51, 102,0.3);
  padding-left: 20px;
  flex: 1 1 auto;
  overflow:auto;
  padding-bottom:20px;
  padding-right:20px;
}

#base-app-body {
  height: 100vh;
  background-image: linear-gradient(
    rgba(180,217,235,0.8),rgba(180,217,235,0.8)),
    url("/static/img/reliability_background.jpg");
}

.background-dark-p {
  background-color: rgba(0, 51, 102) !important;
}

#footer {
  flex: 0 0 50px;
  height: 50px;
  vertical-align: middle;
}

.dropdown-menu.show {
  background-color: rgb(51, 102, 153);
  --bs-dropdown-link-hover-bg:rgba(45, 89, 134,1)
}

/*------------------- Generic Styling available for Base App content ---------------------*/
.content-container {
  width: 80%;
}

.section-heading {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align:left;
  margin-top:10px;
}

.section-heading:before {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #69b6d5;
  left: 2px;
  position: relative;
}

h1:not(.home) {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align:left;
  margin-top:10px;
  font-size:calc(1.3rem + .6vw);
}

h1:not(.home)::before {
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background: #69b6d5;
  left: 2px;
  position: relative;
}

h2:not(.accordion-header) {
  font-size:calc(1.275rem + .3vw);
  font-weight: 600;
}

h2:not(.accordion-header)::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 18px;
  position: relative;
  top:0px;
  left: 0px;
  border-radius 0px;
  background-color: #69b6d5;
  margin-right:5px;
}

h3 {
  font-size:calc(1.25rem + 0.1vw);
  text-transform: capitalize;
  text-decoration:underline;
}

.card-body:hover {
  background-color: #69b6d5;
}


form {
  width: 60%;
  max-width: 600px;
  min-width: 400px;
  padding: 20px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: red;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: red;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: red;
 }

.form-group {
  margin: 5px;
}

fieldset {
  border: 2px groove;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

legend {
  font-size: 16px;
  font-weight: bold;
}

label {
  font-weight:500;
  text-transform:capitalize;
}

button.btn {
  margin:5px;
}


  
/*------------------- Download icon ---------------------*/

.fa {  
  padding: 10px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 20px;  
  width: 40px;
  border-radius: 50%;
  background: rgba(2, 45, 74, 0.7);  
  color: white;  
}

.fa-solid {
  color: rgba(0, 51, 102);  
}



#sampletablewrapper {
  overflow-y:auto;
}



/*-------------------- Slow loader ----------------------*/
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*---------------- Animation -------------------*/
.animate, #content {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-name: animate-slideleft;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1);
  animation-fill-mode: backwards;
}

.animate.slideup { animation-name: animate-slideup; }

@keyframes animate-slideup {
  0% {
    opacity: 0;
    transform: translate(0,200px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

.animate.slideleft { animation-name: animate-slideleft; }

@keyframes animate-slideleft {
  0% {
    opacity: 0;
    transform: translate(150px,0px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

.animate.appear, #content { animation-name: animate-appear; }

@keyframes animate-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.an-1 {
  animation-delay: 0s;
}

.an-2 {
  animation-delay: 0.3s;
}

.an-3 {
  animation-delay: 0.5s;
}

.an-4 {
  animation-delay: 1.2s;
}


