<nav class="navbar navbar-expand-lg bg-body-tertiary background-dark-p" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RAM-SUITE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        {% for mainitem in site_map %}
          {% set mainitem_loop = loop %}
          {% if mainitem['Children'] %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navitem{{mainitem_loop.index}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{mainitem['Name']}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navitem{{mainitem_loop.index}}">
                {% for subitem in mainitem['Children'] %}
                <li><a class="dropdown-item" href="{{url_for(subitem['Route'])}}">{{subitem['Name']}}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for(mainitem['Route'])}}" id="navitem{{mainitem_loop.index}}">{{mainitem['Name']}}</a>
            </li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>
</nav>